# See hps://ea/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.eslintcache

# testing
/coverage

# production
/build

# misc

.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
